.new-userform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.new-userform input {
  width: 16rem;
  height: 1.7rem;
  margin-bottom: 1rem;
  padding-left: 15px;
  border: 1px solid rgb(132, 88, 173);
  border-radius: 5px;
}

.new-userform input:focus {
  outline: none;
}
.new-userform span label {
  width: 8rem;
  display: inline-block;
}

button {
  width: 12em;
  height: 2.5em;
  background: rgb(132, 88, 173);
  text-transform: uppercase;
  color: rgb(240, 233, 233);
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
